<head>
	<link href="https://MGNCapstone.github.io/Content/home.css" rel="stylesheet" type="text/css" />
	<link href="https://MGNCapstone.github.io/Content/padding.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="https://MGNCapstone.github.io/Scripts/action.js"></script>
</head>

<body style="background-color:slategrey">
	<div class="row">
		<div id="bensSpace" class="col-md-4 col-sm-12 col-xs-12" style="padding-bottom:50px">
			<img class="personal-image-set" src="https://MGNCapstone.github.io/Images/DistantHikerOnPeak.jpg"/>
			
			<div class="text-justify pad-top-sides-15 about-tiles">
				Ben began his pursuit of a degree in Computer Science in the Spring semester of 2012.
				He received an A.S. in Computer Science with a focus on Informatics in August of 2015, 
				and is scheduled to graduate in May 2018 with a B.S. in Computer Science, with a focus on Business.
			</div>
		</div>
		
		<div id="blainesSpace" class="col-md-4 col-sm-12 col-xs-12" style="padding-bottom:50px">
			<img class="personal-image-set" src="https://MGNCapstone.github.io/Images/BlainePhoto.JPG"/>
			
			<div class="text-justify pad-top-sides-15">
				Joseph Blaine's bio to be added
			</div>
		</div>
		
		<div id="michaelsSpace" class="col-md-4 col-sm-12 col-xs-12" style="padding-bottom:50px">
			<img class="personal-image-set" src="https://MGNCapstone.github.io/Images/DistantHikerOnPeak.jpg" />
			
			<div class="text-justify pad-top-sides-15">
				Michael's bio to be added
			</div>
		</div>
		
	</div>
	
</body>