<head>
	<link href="~/Content/home.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/padding.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="~/Scripts/action.js"></script>
</head>

<body>
	<div class="row">
		<div id="bensSpace" class="col-md-4 col-sm-12 col-xs-12">
			<img class="personal-image-set" src="~/Images/DistantHikerOnPeak.jpg"/>
			
			<div class="text-justify pad-top-sides-15">
				Ben began his pursuit of a degree in Computer Science in the Spring semester of 2012.
				He received an A.S. in Computer Science with a focus on Informatics in August of 2015, 
				and is scheduled to graduate in May 2018 with a B.S. in Computer Science, with a focus on Business.
			</div>
		</div>
		
		<div id="blainesSpace" class="col-md-4 col-sm-12 col-xs-12">
			<img class="personal-image-set" src="~/Images/BlainePhoto.jpg"/>
			
			<div class="text-justify pad-top-sides-15">
				Joseph Blaine began
			</div>
		</div>
		
		<div id="michaelsSpace" class="col-md-4 col-sm-12 col-xs-12">
			<img class="personal-image-set" src="~/Images/DistantHikerOnPeak.jpg" />
			
			<div class="text-justify pad-top-sides-15">
				Michael began
			</div>
		</div>
		
	</div>
	
</body>