<head>
	<link href="https://MGNCapstone.github.io/Content/home.css" rel="stylesheet" type="text/css" />
	<link href="https://MGNCapstone.github.io/Content/padding.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="https://MGNCapstone.github.io/Scripts/action.js"></script>
</head>

<body class="home-background">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center Home-Title">Team MGN</h1>
		</div>
		<div class="col-md-12 subtitle">
			<h3 class="text-center Home-SubTitle">Indiana University Southeast Senior Capstone</h3>
			<h3 class="text-center Home-Subtitle">Joseph Blaine Olin, William Benjamin Pister, Michael Roark</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">&nbsp;</div>
		<h4 class="text-justify col-md-6 pad-sides-25 Home-Manifesto">
			Our project will be a Node.js program which will interface with the Google Actions API, the end product being a 
			trivia game to enhance the learning of visually impaired people.
		</h4>
		<div class="col-md-3">&nbsp;</div>
	</div>

</body>