<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link href="https://MGNCapstone.github.io/Content/home.css" rel="stylesheet" type="text/css" />
    <link href="https://MGNCapstone.github.io/Content/padding.css" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    
    <title></title>
</head>
<body class="footer-background">
    <nav class="navbar-inverse navbar-fixed-top footer-background" style="width:100%">
        <div class="container footer-background width-100pct">
            <div class="navbar-header visible-sm visible-xs">
                <button id="toggle-btn" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hamburger-collapse">
                    <span class="sr-only">Toggle nav</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!--Collect the nav links, forms, and other content for toggling-->
            <div id="hamburger-collapse" class="collapsed navbar-collapse">
                <ul class="navbar navbar-nav center-align">
                    <li class="btn-group-vertical nav-pad-for-link center-align" style="display:block">
                        
                        <a href="https://MGNCapstone.github.io/Views/mgnindex.html" class="center-align nav-font-size-link">
                            <span class="glyphicon glyphicon-home" style="color:white;margin-right:4px"></span>Home
                        </a>
                    </li>
                    <li class="nav-pad-for-btn center-align" style="display:block">
                        <button id="P445-home" class="btn btn-default margin-left-10 mgn-nav" data-url="http://ada.ius.edu/~P445" data-openat="self">IUS Capstone Home</button>
                    </li>
                    <li class="nav-pad-for-btn center-align" style="display:block">
                        <button id="group-logs" class="btn btn-default margin-left-10 mgn-nav" data-url="https://trello.com/b/XV5Bl5ft/team-mgn-project-log" data-openat="blank">Team Logs</button>
                    </li>
                    <li class="nav-pad-for-btn center-align" style="display:block">
                        <button id="gantt-chart" class="btn btn-default margin-left-10 mgn-nav" data-url="https://MGNCapstone.github.io/Views/gantt.html" data-openat="self">Gantt Chart</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="phased-photo" style="width:100%;height:100%;padding-bottom:80px">
        <div class="row text-center" style="padding:0px 0px 20px 0px">
            <div class="col-md-3 hidden-xs">&nbsp;</div>
            <div class="col-md-6 col-xs-12" style="background-image:url(https://MGNCapstone.github.io/Images/braille-1.jpg);background-repeat:no-repeat;background-size:cover;opacity:0.8">
                <table class="table-responsive table-bordered table-centered text-white" style="margin:0 auto !important;float:none;margin-top:15px;border-width:3px;font-weight:900;font-size:0.85em;opacity:1.0;text-shadow: 3px 3px 3px #000000 !important">
                    <thead>
                        <tr>
                            <th class="table-cell-center" colspan="3">Team MGN</th>
                        </tr>
                        <tr>
                            <th class="table-cell-center">Name</th>
                            <th class="table-cell-center">Team Role</th>
                            <th class="table-cell-center">Resume</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="table-cell-center">Joseph B Olin</td>
                            <td class="table-cell-center">Team Lead</td>
                            <td class="table-cell-center">
                                <a id="resume-blaine" href="https://MGNCapstone.github.io/Resumes/Joseph_B_Olin_Resume.pdf" target="_blank" class="hidden-xs hidden-sm resume-click">
                                    View
                                </a>
                                <a href="https://MGNCapstone.github.io/Resumes/Joseph_B_Olin_Resume.pdf" download="Joseph B Olin Resume.pdf" id="resume-blaine-download" class="visible-sm hidden-lg hidden-md visible-xs resume-click">Download</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-cell-center">Michael R Roark</td>
                            <td class="table-cell-center">Documentation</td>
                            <td class="table-cell-center">
                                <a id="resume-michael" href="https://MGNCapstone.github.io/Resumes/Michael_R_Roark_Resume.pdf" target="_blank" class="hidden-xs hidden-sm resume-click">
                                    View
                                </a>
                                <a href="https://MGNCapstone.github.io/Resumes/Michael_R_Roark_Resume.pdf" download="Michael R Roark Resume.pdf" id="resume-michael-download" class="visible-sm hidden-lg hidden-md visible-xs resume-click">Download</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-cell-center">Ben Pister</td>
                            <td class="table-cell-center">Web Programmer</td>
                            <td class="table-cell-center">
                                <a id="resume-ben" href="https://MGNCapstone.github.io/Resumes/Ben_Pister_Resume.pdf" target="_blank" class="hidden-xs hidden-sm resume-click">
                                    View
                                </a>
                                <a href="https://MGNCapstone.github.io/Resumes/Ben_Pister_Resume.pdf" download="Ben Pister Resume.pdf" id="resume-ben-download" class="visible-sm hidden-lg hidden-md visible-xs resume-click">Download</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <h4 class="text-center pad-sides-25 text-white Home-Manifesto" style="margin-bottom:80px;font-weight:800;text-shadow:3px 3px 3px #000000">
                        The mission of our project is to create a verbal trivia game for the Google Home to
                        provide a more accessible and pleasant learning experience for the visually impaired.
                    </h4>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="col-md-3 hidden-xs">&nbsp;</div>

        </div>

        <!--This is the beginning of update content-->
        <div class="row" style="font: normal 0.8em arial">
            <div class="col-md-2 hidden-xs"></div>
            <div class="col-md-8 col-xs-12">
                <div class="row">
                    <fieldset style="border:0.1px outset #ffffff;opacity:.8;padding-bottom:0.8em;margin-top:4em">
                        <legend class="text-white">Project Status</legend>
                        <div class="col-md-12">

                            <table class="table-responsive table-bordered table-centered mgn-tbl-stripe text-white" style="width:100%">
                                <thead class="custom-matching-act-tbl-hd">
                                    <tr>
                                        <th class="pad-content-table-cells" style="width:80%">
                                            <a href="#" id="projectReports" class="expando" data-body="bodyProjectReports" data-element="projectReports" data-bool="true">
                                                collapse
                                            </a>
                                            <span class="margin-left-10">
                                                Monthly Report
                                            </span>
                                        </th>
                                        <th class="pad-content-table-cells all-in-line">
                                            Date Added
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="bodyProjectReports">
                                    <tr>
                                        <td class="pad-content-table-cells">
                                            <a href="https://github.com/MGNCapstone/MGNCapstone.github.io/blob/master/DocumentPages/MonthlyReports/9-17-monthly-report.pdf" 
                                               target="_blank" class="text-white underline-text plain-page-link" style="text-decoration:underline">
                                                Report - September 2017
                                            </a>
                                        </td>
                                        <td class="pad-content-table-cells">
                                            09/29/2017
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pad-content-table-cells">
                                            <a href="https://github.com/MGNCapstone/MGNCapstone.github.io/blob/master/DocumentPages/MonthlyReports/10-17-monthly-report.pdf"  
                                               target="_blank" class="text-white underline-text plain-page-link" style="text-decoration:underline">
                                                Report - October 2017
                                            </a>
                                        </td>
                                        <td class="pad-content-table-cells">
                                            10/28/2017
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table-responsive table-bordered table-centered mgn-tbl-stripe text-white" style="width:100%;margin-top:60px">
                                <thead class="custom-matching-act-tbl-hd">
                                    <tr>
                                        <th class="pad-content-table-cells" style="width:80%">
                                            <a href="#" id="projectStatus" class="expando" data-body="bodyProjectStatus" data-element="projectStatus" data-bool="true">
                                                collapse
                                            </a>
                                            <span class="margin-left-10">
                                                Project Item
                                            </span>
                                        </th>
                                        <th class="pad-content-table-cells all-in-line">
                                            Updated On
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="bodyProjectStatus">
                                    <tr>
                                        <td class="pad-content-table-cells">
                                            We have met with our stakeholder and are working to align our goals with stakeholder expectation.
                                        </td>
                                        <td class="pad-content-table-cells">
                                            09/18/2017
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pad-content-table-cells">
                                            <a href="https://github.com/MGNCapstone/MGNCapstone.github.io/blob/master/DocumentPages/System%20DIagrams/Google%20Home%20Response%20Architecture.jpg" 
                                               target="_blank" class="text-white underline-text plain-page-link">
                                                Google Home Response Architecture
                                            </a>
                                        </td>
                                        <td class="pad-content-table-cells">
                                            10/10/2017
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pad-content-table-cells">
                                            <a href="https://github.com/MGNCapstone/MGNCapstone.github.io/blob/master/DocumentPages/System%20DIagrams/Google%20Home%20Response%20Architecture.xml" 
                                               target="_blank" class="text-white underline-text plain-page-link">Google Home Response Architecture XML
                                            </a>
                                        </td>
                                        <td class="pad-content-table-cells">
                                            10/10/2017
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pad-content-table-cells">
                                            <a href="https://github.com/MGNCapstone/MGNCapstone.github.io/blob/master/DocumentPages/System%20DIagrams/Google%20Home%20Server%20Architecture.jpg" 
                                               target="_blank" class="text-white underline-text plain-page-link">Google Home Server Architecture
                                            </a>
                                        </td>
                                        <td class="pad-content-table-cells">
                                            10/10/2017
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pad-content-table-cells">
                                            <a href="https://github.com/MGNCapstone/MGNCapstone.github.io/blob/master/DocumentPages/System%20DIagrams/Google%20Home%20Server%20Architecture.xml" 
                                               target="_blank" class="text-white underline-text plain-page-link">Google Home Server Architecture XML
                                            </a>
                                        </td>
                                        <td class="pad-content-table-cells">
                                            10/10/2017
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pad-content-table-cells">
                                            <a href="https://github.com/MGNCapstone/MGNCapstone.github.io/blob/master/DocumentPages/CodeSegments/example-quiz-list.json" 
                                               target="_blank" class="text-white underline-text plain-page-link">Example Quiz - Posting #1
                                            </a>
                                        </td>
                                        <td class="pad-content-table-cells">
                                            10/15/2017
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </fieldset>
                </div>

                <div class="row">
                    <div class="col-lg-12">

                    </div>
                    <fieldset style="border:1px outset #ffffff;opacity:.8;padding-bottom:0.8em;margin-top:4em">
                        <legend class="text-white">Member Time Tracker</legend>
                        <div class="col-lg-12">
                            <div class="col-lg-12 pad-content-table-cells custom-faux-table-head">
                                <a id="timeSheetHead" class="expando all-in-line" href="#" data-body="timeSheet" data-element="timeSheetHead" data-bool="true">
                                    collapse
                                </a>
                                <span class="text-white margin-left-10">
                                    Time Sheets
                                </span>
                            </div>

                            <iframe id="timeSheet" style="width:100%;min-height:32em" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRpVlRYwkaVK6spwLDAKKtaJJB4Euzks0k_zfG8kaW3YqtCblRyJKwVLsWZRM92SPJ0MwTJgrEO4owJ/pubhtml?widget=true&amp;headers=false"></iframe>
                        </div>
                    </fieldset>
                </div>

                <div class="row">
                    <fieldset style="border:0.1px outset #ffffff;opacity:.8;padding-bottom:0.8em;margin-top:4em;margin-bottom:4em">
                        <legend class="text-white">Software</legend>
                        <!-- <div class="row"> -->
                        <div class="col-md-12">
                            <table class="table-responsive table-bordered table-centered mgn-tbl-stripe text-white" style="width:100%">
                                <thead class="custom-matching-act-tbl-hd">
                                    <tr>
                                        <th class="pad-content-table-cells">
                                            <a href="#" id="toolsEmployed" class="expando" data-body="bodyToolsEmployed" data-element="toolsEmployed" data-bool="true">
                                                collapse
                                            </a>
                                            <span class="margin-left-10">Software Tools Being Employed by MGN</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="bodyToolsEmployed">
                                    <tr>
                                        <td class="pad-content-table-cells">
                                            Node.js
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pad-content-table-cells">
                                            Google Actions SDK
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pad-content-table-cells">
                                            AVA JavaScript Unit Testing tool
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br />

                        <!-- </div> -->
                        <!-- <div class="row"> -->
                        <div class="col-md-12" style="margin-top:60px;">
                            <table class="table-responsive table-bordered table-centered mgn-tbl-stripe text-white" style="width:100%">
                                <thead class="custom-matching-act-tbl-hd">
                                    <tr>
                                        <th class="pad-content-table-cells">
                                            <a href="#" id="toolsInstalled" class="expando" data-body="bodyToolsInstalled" data-element="toolsInstalled" data-bool="true">
                                                collapse
                                            </a>
                                            <span class="margin-left-10">Software Tools Being Installed by MGN</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="bodyToolsInstalled">
                                    <tr>
                                        <td class="pad-content-table-cells">
                                            Node.js
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pad-content-table-cells">
                                            AVA JavaScript Testing tool
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- </div> -->
                    </fieldset>
                </div>
            </div>

            <div class="col-md-2 col-xs-12">

            </div>

        </div>
    </div>


    <footer class="navbar navbar-fixed-bottom center-align footer-background text-white">
        Indiana Univerity Southeast MGN Team 
        <br />
        Joseph Blaine Olin, Michael Ryan Roark, William Benjamin Pister
    </footer>

</body>


</html>

<script src="https://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="https://MGNCapstone.github.io/Scripts/action.js" type="text/javascript"></script>