body{
	padding:none;
}

.ben-photo{

    background-image:url(https://MGNCapstone.github.io/Images/SwingingBridgePhoto.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    opacity:1.0;
    position:fixed;
}

.phased-photo{
    background-image:url(https://MGNCapstone.github.io/Images/NighttimeFerryBoatPic.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    opacity:1.0;
    position:fixed;
}

.blaine-photo{

    background-image:url(https://MGNCapstone.github.io/Images/BlainePhoto.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    opacity:1.0;
    position:fixed;    
}

.home-background{
	background-color:slategrey;
}

.photo-space{
	height:50%;
    border: 3px solid silver;
    top:0px;
    left:0px;
	margin-bottom:15px;
}

.personal-image-set{
	width:100%;
	height:inherit;
	border:5px solid silver;
}

.full-width{
	width:95%;
}

.top-nav{
	/*height:50px;*/
	border-bottom:2px solid gray;
	/*text-align:center;*/
    /*width:100%;*/
	background-color:black;
	padding:15px 0px 15px 20px;
}

.Home-Title{
	padding-top:25px;
	font:bold 24px Arial;
}

.Home-SubTitle{
	padding-top:15px;
	font:bold 18pt Arial;
}

.Home-Manifesto{
	font:16pt Arial;
}

.subtitle{
	display:block;
}

.font-18{
    font:12pt Arial;
}

.top-nav-link:hover {
    color:white;
    text-decoration:none;
}

.top-nav-link:checked {
    color:white;
    text-decoration:none;
}

.resume-click {
    font-style:italic;
    color:white;
    text-decoration:underline;
}

a:link{
  color:white;
}
a:visited{
  color:white;
}
a:hover{
  color:white;
}
a:focus{
  color:white;
}
a:active{
  color:white;
}

.hide-horizontal-scroll {
    overflow-x:hidden !important;
}