.pad-sides-25{
	padding: 0px 25px 0px 25px !important;
}

.pad-top-10-left-15{
	padding:0px 0px 8px 15px;
}

.pad-top-10{
	padding-top:10px;
}

.top-nav-btn-margin{
	margin:8px 15px 0px 0px;
}

.text-white{
	color:white;
}

.margin-bottom-100{
	 margin-bottom:100px;
}

.margin-bottom-15{
	margin-bottom:15px;
	padding-right:50px;
}

.pad-top-sides-15{
	margin:15px 15px 0px 15px;
}

.about-tiles{
	font:14pt Arial;
}

.resume-click{
	width:300px;
	height:40px;
}

.width-100-pcnt{
    width:100%;
    margin:0;
    padding:0;
}

.menu-style{
    white-space:nowrap;
    padding:0;
    margin:0;
}