.pad-sides-25{
	padding: 0px 25px 0px 25px !important;
}

.pad-top-10-left-15{
	padding:0px 0px 8px 15px;
}

.pad-top-10{
	padding-top:10px;
}

.top-nav-btn-margin{
	margin:8px 15px 0px 0px;
}

.text-white{
	color:blue;
    font-weight:600;
}

.text-light-blue{
    color:firebrick;
}

.margin-top-10{
    margin-top:20px;
}

.margin-bottom-100{
	 margin-bottom:100px;
}

.margin-bottom-15{
    /*margin-top:15px;
	margin-bottom:15px;*/
	padding-right:0px;
}

.pad-top-sides-15{
	margin:15px 15px 0px 15px;
}

.pad-top-bottom-20{
    padding:15px 0px 15px 20px;
}

.pad-top-20{
    padding-top:20px;
    padding-left:0px;
    padding-right:0px;
}

.about-tiles{
	font:14pt Arial;
}

.resume-click{
	width:200px;
	height:40px;
}

.table-cell-center{
    padding:10px 10px 10px 10px !important;
    vertical-align:middle;
    text-align:center;
}
