 /***  a   ***/
.about-tiles{
	font:14pt Arial;
}


 /***  c   ***/
.center-align{
    text-align:center;
}


 /***  l   ***/
legend{
    padding:0 0 0 1.2em !important;
    border-bottom:0.1px solid #ffffff;
    color:#ffffff;
}


 /***  m   ***/
.margin-top-10{
    margin-top:20px;
}

.margin-top-40{
    margin-top:40px !important;
}

.margin-bottom-100{
	 margin-bottom:100px;
}

.margin-bottom-15{
    /*margin-top:15px;
	margin-bottom:15px;*/
	padding-right:0px;
}

.margin-left-10{
    margin-left:10px;
}


 /***  n   ***/
.nav-pad-for-btn{
    padding:0.5em 0.4em 0px 0px;
}

.nav-pad-for-link{
    padding:0.9em 0.9em 0px 0px;
}

.nav-font-size-link{
    font-size:1.2em;
}


 /***  p   ***/
.pad-content-table-cells{
    padding:.8em 1em .8em 1em;
}

.top-nav-btn-margin{
	margin:8px 15px 0px 0px;
}

.pad-sides-25{
	padding: 0px 25px 0px 25px !important;
}

.pad-top-10-left-15{
	padding:0px 0px 8px 15px;
}

.pad-top-10{
	padding-top:10px;
}

.pad-top-sides-15{
	margin:15px 15px 0px 15px;
}

.pad-top-bottom-20{
    padding:15px 0px 15px 20px;
}

.pad-top-20{
    padding-top:20px;
    padding-left:0px;
    padding-right:0px;
}


 /***  r   ***/
.resume-click{
	width:200px;
	height:40px;
}

 /***  t   ***/
.table-cell-center{
    padding:10px 10px 10px 10px !important;
    vertical-align:middle;
    text-align:center;
}


 /***  u   ***/
.underline-text{
    text-decoration:underline;
}
